.DeckEvaluator {
	display: flex;
	flex-direction: column;
}

.DeckEvaluator-text {
	margin: 1em;
	flex: 1;
	min-height: 50vh;
	resize: none;
	height: 100%;
	padding: 1em;
	border-style: none;
	background-color: #FFBF69;
	border-radius: 1em;
	font-size: 1.5em;
}

.DeckEvaluator-footer {
	padding-left: 2em;
	flex: 1;
}